USE [master]
GO
/****** Object:  Database [finalldtb]    Script Date: 7/21/2024 9:15:43 AM ******/
CREATE DATABASE [finalldtb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'finalldtb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalldtb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'finalldtb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\finalldtb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [finalldtb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [finalldtb]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Firstname] [nvarchar](100) NOT NULL,
	[Lastname] [nvarchar](100) NOT NULL,
	[DOB] [date] NOT NULL,
	[Avatar] [nvarchar](100) NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Phonenumber] [nvarchar](15) NOT NULL,
	[Address] [nvarchar](2000) NOT NULL,
	[Isactive] [bit] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[BannerID] [int] IDENTITY(1,1) NOT NULL,
	[BannerName] [varchar](255) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BannerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](2000) NULL,
	[Image] [nvarchar](1000) NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerProfile]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerProfile](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Deliveryaddress] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CustomerProfile] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeProfile]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeProfile](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[CCCD] [nvarchar](50) NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeeProfile] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
	[Createat] [datetime] NOT NULL,
	[VoucherID] [int] NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[PaymentID] [nvarchar](100) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemsID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductTypeID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [bigint] NOT NULL,
	[TotalPrice] [bigint] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusID] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Description] [nvarchar](3000) NOT NULL,
	[Price] [bigint] NOT NULL,
	[Image] [nvarchar](100) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Color] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[Name] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 7/21/2024 9:15:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountAmount] [int] NOT NULL,
	[DiscountPercentage] [int] NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Quantity] [int] NULL,
	[MinimumPrice] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([BannerID], [BannerName], [Image], [Content], [IsActive], [CreateAt]) VALUES (1, N'Summer Sale', N'https://i.pinimg.com/736x/fb/d5/1a/fbd51a8c1d6f018d1b49e9aea7f636eb.jpg', N'Get up to 50% off on summer essentials!', 1, CAST(N'2024-06-14T11:51:01.707' AS DateTime))
INSERT [dbo].[Banner] ([BannerID], [BannerName], [Image], [Content], [IsActive], [CreateAt]) VALUES (2, N'New Arrivals', N'https://as1.ftcdn.net/v2/jpg/02/85/93/38/1000_F_285933897_077d15KSailGJf7pKDBTEekbX4KdR4jH.jpg', N'Explore our latest collection now available!', 1, CAST(N'2024-06-14T11:51:01.707' AS DateTime))
INSERT [dbo].[Banner] ([BannerID], [BannerName], [Image], [Content], [IsActive], [CreateAt]) VALUES (3, N'Holiday Specials', N'https://as2.ftcdn.net/v2/jpg/01/30/02/17/1000_F_130021770_feVwv2u99wQIhEPNVI5K7BOFuLkkEf9j.jpg', N'Find the perfect gifts this holiday season!', 1, CAST(N'2024-06-14T11:51:01.707' AS DateTime))
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
INSERT [dbo].[Cart] ([CustomerID], [ProductID], [Quantity]) VALUES (1, 1, 2)
INSERT [dbo].[Cart] ([CustomerID], [ProductID], [Quantity]) VALUES (1, 3, 1)
INSERT [dbo].[Cart] ([CustomerID], [ProductID], [Quantity]) VALUES (2, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (1, N'Dress', N'')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (2, N'Polo', N'')
INSERT [dbo].[Category] ([CategoryID], [Name], [Description]) VALUES (3, N'T-shirt', N'')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerProfile] ON 

SET IDENTITY_INSERT [dbo].[CustomerProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeProfile] ON 

INSERT [dbo].[EmployeeProfile] ([EmployeeID], [AccountID], [CCCD], [EmployeeCode]) VALUES (14, 4, N'0123456789', N'EMP004    ')
INSERT [dbo].[EmployeeProfile] ([EmployeeID], [AccountID], [CCCD], [EmployeeCode]) VALUES (15, 5, N'5432109876', N'EMP005    ')
INSERT [dbo].[EmployeeProfile] ([EmployeeID], [AccountID], [CCCD], [EmployeeCode]) VALUES (16, 6, N'8765432109', N'EMP006    ')
SET IDENTITY_INSERT [dbo].[EmployeeProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [DateCreated], [Content], [EmployeeID]) VALUES (21, CAST(N'2024-06-14T10:00:00.000' AS DateTime), N'New collection launch event scheduled for next month.', 14)
INSERT [dbo].[Notification] ([NotificationID], [DateCreated], [Content], [EmployeeID]) VALUES (22, CAST(N'2024-06-14T11:30:00.000' AS DateTime), N'Reminder: Staff meeting on Friday to discuss store renovations.', 14)
INSERT [dbo].[Notification] ([NotificationID], [DateCreated], [Content], [EmployeeID]) VALUES (23, CAST(N'2024-06-14T12:45:00.000' AS DateTime), N'Upcoming promotion: 20% off on all summer dresses.', 14)
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [CustomerID], [Status], [TotalPrice], [Createat], [VoucherID], [PaymentMethod], [PaymentID]) VALUES (1, 1, N'Delivering', 990000, CAST(N'2024-06-28T11:02:00.000' AS DateTime), 1, N'B', N'1')
INSERT [dbo].[Order] ([OrderID], [CustomerID], [Status], [TotalPrice], [Createat], [VoucherID], [PaymentMethod], [PaymentID]) VALUES (2, 1, N'Returns', 1295000, CAST(N'2024-06-23T00:00:00.000' AS DateTime), NULL, N'A', NULL)
INSERT [dbo].[Order] ([OrderID], [CustomerID], [Status], [TotalPrice], [Createat], [VoucherID], [PaymentMethod], [PaymentID]) VALUES (3, 1, N'Delivered', 760000, CAST(N'2024-06-27T09:20:00.000' AS DateTime), NULL, N'A', NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemsID], [OrderID], [ProductID], [ProductTypeID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (21, 1, 1, 1, 2, 285000, 570000)
INSERT [dbo].[OrderItems] ([OrderItemsID], [OrderID], [ProductID], [ProductTypeID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (22, 1, 5, 18, 1, 420000, 420000)
INSERT [dbo].[OrderItems] ([OrderItemsID], [OrderID], [ProductID], [ProductTypeID], [Quantity], [UnitPrice], [TotalPrice]) VALUES (23, 2, 2, 3, 3, 365000, 1095000)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (1, N'White dress open shoulder puff', N'DETAILS :
-Material: TAFTA
-The color: white, pink, black
-The standard design of the standard form, the skirt is wearing 2 styles
-The careful, meticulous sewing line
-The simple and beautiful design skirt is suitable for girls to go out, walk, at home or party, extremely luxurious travel', 285000, N'dress1.jpg', 1, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (2, N'Two -wire dress with a bow', N'Skirts - Female dress design is an indispensable style in your closet. By a skirt - fishtail dress, spread skirt ... is always your optimal choice in luxurious parties. Coffee with friends or when walking around ...', 365000, N'dress2.jpg', 1, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (3, N'Lady`s Party Dress with Bow Sleeves', N'Women`s Party Dress with Bow, 2-layer design, with chest padding - Material: Taffa - Color: White, Black, Pink', 300000, N'dress3.jpg', 1, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (4, N'Nemo Dress', N'Nemo Dress - Cute layered choker and 2-strap party dress
	  	   	   Super cute layered party dress with choker neck, girls!
This dress is perfect for parties, the fabric is thick and 2 layers of chiffon.
This dress is suitable for all skin types and body shapes, auntieeeee', 230000, N'dress4.jpg', 1, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (6, N'Tassel Strapless Dress with Rose Collar and Padded Cups', N'Damn, the dress is beautiful, you guys are really serious.
I thought it wasn`t pretty, but the dress is unexpectedly beautiful.
dress with chest pad
Stretchy dress suitable for sexy ladies
will support the shopp should buy you ladies are very beautifulmm', 200000, N'dress6.jpg', 1, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (8, N'BASIC SYMBOL men`s polo shirt', N'POLOMANOR`s return policy and conditions:

    + Commitment to product quality and design as shown in the image.

    + Commitment to return goods within 30 days.

    + Goods must be new and unused

    + Product is defective due to transportation and manufacturer', 289000, N'polo1.jpg', 2, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (9, N'POLO T-shirt', N'SEELU Polo Shirt Details
- Material: 100% Cotton, absorbs sweat quickly, cool and comfortable in summer

- The product still has the original tags, extremely luxurious (see video on product photo).

-Basic goes well with Jeans, Kaki, Shorts. Wearing it on the street, traveling or to parties brings classy confidence to customers.', 200000, N'polo2.jpg', 2, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (10, N'SEELU POLO T-shirt', N'SEELU Polo Shirt Details
- Material: 100% Cotton, absorbs sweat quickly, cool and comfortable in summer

- The product still has the original tags, extremely luxurious (see video on product photo).

-Basic goes well with Jeans, Kaki, Shorts. Wearing it on the street, traveling or to parties brings classy confidence to customers.', 200000, N'polo3.jpg', 2, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (11, N'T-shirt POLO BEAR 194 Plain Unisex', N'Polo Shirt Details
- Material: 100% Cotton, absorbs sweat quickly, cool and comfortable in summer

- The product still has the original tags, extremely luxurious (see video on product photo).

-Basic goes well with Jeans, Kaki, Shorts. Wearing it on the street, traveling or to parties brings classy confidence to customers.', 324000, N'polo4.jpg', 2, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (12, N'LOCAL BRAND The Weird Unisex', N'T-Shirt Details
- Material: 100% Cotton, absorbs sweat quickly, cool and comfortable in summer

- The product still has the original tags, extremely luxurious (see video on product photo).

-Basic goes well with Jeans, Kaki, Shorts. Wearing it on the street, traveling or to parties brings classy confidence to customers.', 345000, N't1.jpg', 3, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (13, N'Unisex t-shirt for men and women', N'T-Shirt Details
- Material: 100% Cotton, absorbs sweat quickly, cool and comfortable in summer

- The product still has the original tags, extremely luxurious (see video on product photo).

-Basic goes well with Jeans, Kaki, Shorts. Wearing it on the street, traveling or to parties brings classy confidence to customers.', 198000, N't2.jpg', 3, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (14, N'Lovely Round Neck T-Shirt', N'*Note:

- Please send the shop a clip of your returned packaging, a consultant will confirm and proceed to create a return order for you.', 234000, N't3.jpg', 3, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (15, N'Soothing Round Neck T-Shirt - Cream Cotton', N'*Note:

- Please send the shop a clip of your returned packaging, a consultant will confirm and proceed to create a return order for you.', 224000, N't4.jpg', 3, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (16, N'8YO SUMMER PARTY Embroidered T-Shirt Soft', N'+ Material: PREMIUM COTTON - The more you wear, the more comfortable it is

+ Soft - Smooth - Cool - No shedding - Anti-shrinkage

+ The collar is thicker, the collar is 3cm thick, but still comfortable to wear and not rough. The shape is more beautiful, the neck is not stretched

+ Color: Black / Cream / Gray / Pink / Blue

+ Pattern: Full body icon embroidery

+ Origin: Vietnam.', 544000, N't5.jpg', 3, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (18, N'HIGH QUALITY HANDSOME LONG-SLEEVED', N'The detail information of product:

-- The fabric feels smooth, does not fray, wrinkle or pill.

-- Neck and armrests are made of high quality material, no fear of peeling.

-- Extremely standard Body Shape, hugs the shoulders, extremely youthful and stylish, suitable for all situations including going out and going to work.', 305000, N'tt2.jpg', 4, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (20, N'AM76 VERY PRETTY ', N'MATERIAL: Soft, shiny, light-weight SATIN SILK

SIZE CHART:

- Size S: 40 -46kg: Chest 88cm. Sleeve length 54.5cm. Shoulder 36cm. Shirt length 60cm

- Size M: 46-54KG: Chest 90cm. Shoulder 38cm. Shirt length 62cm

- Size L: 55- 60 KG: Chest 96cm. Shoulder 40cm. Shirt length 64cm

Depending on different body shapes, choosing the right size may not be 100% accurate based on weight and height.

There are 5 colors that flatter the skin and are easy to coordinate with other clothes: white, black, navy blue, smoky gray and brown. Now there are new colors and many other colors will be released (depending on customer preferences - The shop looks forward to receiving contributions from KiRas beloved customers).

Satin fabric does not stretch.', 555000, N'tt4.jpg', 4, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (21, N'wrinkle-resistant, absorbent, basic color palette, easy to coordinate ', N'MATERIAL: Soft, shiny, light-weight SATIN SILK

SIZE CHART:

- Size S: 40 -46kg: Chest 88cm. Sleeve length 54.5cm. Shoulder 36cm. Shirt length 60cm

- Size M: 46-54KG: Chest 90cm. Shoulder 38cm. Shirt length 62cm

- Size L: 55- 60 KG: Chest 96cm. Shoulder 40cm. Shirt length 64cm

Depending on different body shapes, choosing the right size may not be 100% accurate based on weight and height.

There are 5 colors that flatter the skin and are easy to coordinate with other clothes: white, black, navy blue, smoky gray and brown. Now there are new colors and many other colors will be released (depending on customer preferences - The shop looks forward to receiving contributions from KiRas beloved customers).

Satin fabric does not stretch.', 555000, N'tt5.jpg', 4, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (23, N'Daily Me local brand croptop hoodie zip short loose  ', N'PRODUCT INFORMATION

- Product name: Hoodie zip fleece croptop form

- Form: Croptop, wide, loose sleeves, 2 layers. 2-layer hat. 2-layer shirt. 2 inside pockets, 2 outside pockets

- Use sunscreen, go to school, chill out when the weather is "a little chilly" is suitable

- Shirt size: FREESIZE under (1m65 + 70kg) (Depending on height and weight, chat with the shop for more detailed advice)

- The zipper changes every batch.', 234000, N'a1.jpg', 5, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (24, N'Windbreaker jacket made of high-quality', N'Beautiful fabric, no pilling, no shrinkage, soft, smooth, thick, absorbs sweat extremely quickly, super cool to wear.

Unisex windbreaker jacket with excellent UV protection.', 234000, N'a2.jpg', 5, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (25, N'Pandax Studio bomber jacket', N'Product manual

- The first time you bring it home, just rinse it with cold water and let it dry to ensure the print on the product does not peel off.

- Wash only after 3 days of receiving the product

- Remember to turn the product (pants/shirt) inside out when washing and do not soak.

- Do not machine wash for the first 2 weeks

- When drying, turn inside out and do not dry directly under sunlight.

', 234000, N'a3.jpg', 5, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (26, N' Blazer, long, loose, solid color, thick 2-layer fabric, Korean style - Tiktik', N'Size is for reference only, depending on body measurements and different fabric materials, there will be certain differences. Please inbox the shop for more accurate advice.

- Designs:

+ Long Blazer design, vest collar with 2 side pockets, elegant autumn style for women.

+ Blazers can be worn as outerwear or mixed with many suitable outfits in many different situations from office parties, dates to important events and parties.

+ Shirt has youthful color scheme, high color fastness.

+ Products are guaranteed with quality production process with sturdy seams, meticulous in every detail.', 532000, N'b1.jpg', 6, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (32, N'JBAGY men`s shorts', N'Material: Cotton khaki, slightly stretchy for a comfortable feel when wearing

Color: Black/ Navy Blue/ White/ Cream/ Beige/ Gray

Size: M/L/XL/2XL ', 193000, N's1.jpg', 8, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (33, N'Women`s Shorts with Folded Hem', N'Beautiful women`s folded-hem shorts in stock to welcome the summer of love

Wholesale in bulk

Available

Snow rain fabric l1 is soft, cool to wear, has a beautiful shape, and has a very stylish hem.

The hot trend color palette is extremely pretty. Buy all the colors for a bright week.', 298000, N's2.jpg', 8, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (34, N'(Big size up to 3XL) Women`s A-line jean shorts', N'ADO JEANS - FACTORY PURCHASE SOLUTION

COMMITMENT TO RETURN WITHIN 7 DAYS!', 214000, N's3.jpg', 8, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (35, N'ZF.CLUB Unisex Elastic Waistband Shorts', N'PRODUCT DESCRIPTION

ZF.CLUB Unisex Elastic Waistband Shorts Korean Style, Basic Form Shorts, High Quality Snow Rain Material [SC]', 124000, N's4.jpg', 8, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (36, N'Middle-aged Men`s Vest Made of Korean Imported Tweed Fabric', N'PRODUCT INFORMATION

- Made in Viet Nam

- Brand: Tien Thinh Vest

- Material: Imported Korean tweed

- 1-pleated pants, 3-6 cm waistband design

- Colors: Dark blue, Cow brown, Cream sand, Moss brown, Charcoal black, Stone gray, Sand yellow

- Size: S/M/L/XL/2XL/3XL', 792000, N'u1.jpg', 9, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (38, N'UNDERCOOL Tennis Pleated Skirt High Waist Tennis Skirt Snow Rain', N'UNDERCOOL High Waist Pleated Tennis Skirt Snow Skirt with protective shorts inside the skirt
Color: Black / White / Beige / Brown / Gray / Charcoal', 321000, N'v1.jpg', 10, 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Image], [CategoryID], [IsActive]) VALUES (44, N'Retro Vintage style bow hair clip, classic, luxurious and cute ', N'PRODUCT INFORMATION

? Product name: Retro Vintage style bow hair clip, classic, luxurious and cute for women - Annie T4-8

? Name and address of the organization/individual responsible for the product: Annie Accessories - 566 Nguyen Trai, Ward 8, District 5.

? Material: Tweed bow, high quality felt, silk, stainless steel.', 329200, N'2.jpg', 13, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ProductTypeID], [ProductID], [Color], [Size], [Quantity]) VALUES (1, 1, N'White', N'XL', 16)
INSERT [dbo].[ProductType] ([ProductTypeID], [ProductID], [Color], [Size], [Quantity]) VALUES (2, 2, N'White', N'S', 2)
INSERT [dbo].[ProductType] ([ProductTypeID], [ProductID], [Color], [Size], [Quantity]) VALUES (3, 2, N'Black', N'S', 22)
GO
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'Admin                                             ')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'Employee                                          ')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (3, N'Shipper                                           ')
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([VoucherID], [DiscountAmount], [DiscountPercentage], [ExpiryDate], [IsActive], [CreatedDate], [Quantity], [MinimumPrice]) VALUES (1, 1000, NULL, CAST(N'2024-12-31T00:00:00.000' AS DateTime), 1, CAST(N'2024-06-14T11:50:17.150' AS DateTime), 50, 50000)
INSERT [dbo].[Voucher] ([VoucherID], [DiscountAmount], [DiscountPercentage], [ExpiryDate], [IsActive], [CreatedDate], [Quantity], [MinimumPrice]) VALUES (2, 2000, 20, CAST(N'2024-12-31T00:00:00.000' AS DateTime), 1, CAST(N'2024-06-14T11:50:17.150' AS DateTime), 100, 100000)
INSERT [dbo].[Voucher] ([VoucherID], [DiscountAmount], [DiscountPercentage], [ExpiryDate], [IsActive], [CreatedDate], [Quantity], [MinimumPrice]) VALUES (3, 500, NULL, CAST(N'2024-12-31T00:00:00.000' AS DateTime), 1, CAST(N'2024-06-14T11:50:17.150' AS DateTime), 30, 30000)
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT (getdate()) FOR [CreateAt]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_CustomerProfile] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerProfile] ([CustomerID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_CustomerProfile]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_CustomerProfile] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerProfile] ([CustomerID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_CustomerProfile]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[CustomerProfile]  WITH CHECK ADD  CONSTRAINT [FK_CustomerProfile_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[CustomerProfile] CHECK CONSTRAINT [FK_CustomerProfile_Account]
GO
ALTER TABLE [dbo].[EmployeeProfile]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeProfile_Account] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[EmployeeProfile] CHECK CONSTRAINT [FK_EmployeeProfile_Account]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_EmployeeProfile] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeProfile] ([EmployeeID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_EmployeeProfile]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_CustomerProfile] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerProfile] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_CustomerProfile]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Order]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Product1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Product1]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_ProductType] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ProductTypeID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_ProductType]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_EmployeeProfile] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EmployeeProfile] ([EmployeeID])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_EmployeeProfile]
GO
ALTER TABLE [dbo].[OrderStatus]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatus_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderStatus] CHECK CONSTRAINT [FK_OrderStatus_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductType]  WITH CHECK ADD  CONSTRAINT [FK_ProductType_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductType] CHECK CONSTRAINT [FK_ProductType_Product]
GO
USE [master]
GO
